body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    background-color: #3498db;
    padding: 20px 0;
    color: #fff;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
    font-style: italic;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    color: #3498db;
}

.contact-info p {
    margin: 8px 0;
}

.education-info p {
    margin: 8px 0;
}

.job-info p {
    margin: 8px 0;
}

.skills-list {
    padding: 0;
}

.skills-list li {
    list-style-type: none;
    background-color: #3498db;
    color: #fff;
    padding: 8px;
    margin: 4px 0;
    border-radius: 4px;
    display: inline-block;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 30px;
    color: #777;
}
